<div class="gradient2"></div>
<header>
  <div class="dropHead">
    <div class="btn-group" dropdown is-open="status.isopen">
      <div class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        <i class="fa fa-bars dropHead"></i>
      </div>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/"><span class="white">Home</span></a></li>
        <li><a href="#/leagues"><span class="white">Leagues</span></a></li>
        <li><a href="#/teams"><span class="white">Teams</span></a></li>
        <li><a href="#/events"><span class="white">Events</span></a></li>
      </ul>
    </div>
  </div>
  <div class="headTitle">
    ICHA
  </div>
  <div class="learnHead">
    <a href="#/stepone"><i class="fa fa-question white"></i></a>
  </div>
</header>
<div class="leaguesHeader">
<form class="search">
    <input class="leagueIn" type="text" ng-model="search.name" value="" placeholder="Search Title">
</form>
</div>

<h2>Events List View</h2>
<!-- <div ng-controller="CollapseDemoCtrl">
  <button class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">Create A League</button>
  <hr>
  <div collapse="!isCollapsed">
    <div class="well well-lg">
      <form name="compsForm">
      <input type="text" name="name" value="" ng-model="comp.name" placeholder="Compeition Name" required/>
      <button class="btn btn-warning" type="button" name="compsForm" ng-click="createComp(newComp)">Create League</button>
      </form>
    </div>
  </div>
</div> -->

<div class="leaguesContainer">
<comps-dir ng-repeat="comp in comps | filter: search" ng-model="search"  c="comp" action="deleteComp(comp.id)" action2="getOneComp(comp.id)"  data-id="{{comp.id}}"></comps-dir>
</div>
