<header>
  <div class="dropHead">
    <div class="btn-group" dropdown is-open="status.isopen">
      <div class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        <i class="fa fa-bars dropHead"></i>
      </div>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/"><span class="white">Home</span></a></li>
        <li><a href="#/leagues"><span class="white">Leagues</span></a></li>
        <li><a href="#/teams"><span class="white">Teams</span></a></li>
        <li><a href="#/events"><span class="white">Events</span></a></li>
      </ul>
    </div>
  </div>
  <div class="headTitle">
    ICHA
  </div>
  <div class="learnHead">
    <a href="#/stepone"><i class="fa fa-question white"></i></a>
  </div>
</header>
<div class="gradient2"></div>
<div class="splashPic"></div>
<div class="bean1"></div>
<div class="bean2"></div>
<div class="person1"></div>
<div class="person2"></div>
