  <div class="teamDetail">
        <ul class="teamDescription">
          <li><img ng-src="{{t.name}}" alt="" /></li>
          <li>
            <ul>
              <li><h3><a href="#/detail/{{t.id}}">{{t.name}}</a></h3></li>
              <li>{{t.ranking}}</li>
              <li>{{t.logo}}</li>
              <li>{{t.location}}</li>
              <li>{{t.league_ID}}</li>

              <!-- <li><a href="{{t.teamsUrl}}">View on League</a></li> -->
              <li><a class="glyphicon glyphicon-remove" href="#/teams" ng-controller="TeamsController" ng-click="removeFromTeams(t._id)"></a></li>
            </ul>
          </li>
        </ul>
  </div>
