body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 5rem;
  background-color: #364C98;
  margin: 0;
  padding: 0;
  display: flex;
}

nav {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 2rem 1rem;
  color: white;
}

nav a {
  width: 33.3333%;
  text-align: center;
  font-size: 2rem;
  margin-top: -.7rem;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Homes */

.primary {
  position: absolute;
  top: 50%;
  left: -10rem;
  font-size: 3rem;
}

.danger {
  position: absolute;
  top: 50%;
  right: -10rem;
  font-size: 3rem;
}

.buttonWrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bean1 {
  width: 2rem;
  height: 2rem;
  background-image: url("http://png-3.findicons.com/files/icons/901/pillow/512/pillow.png");
  background-size: cover;
  position: absolute;
  -webkit-animation: beanOne 5s infinite;
  animation: beanOne 5s infinite;
  right: 20;
  bottom: 4rem;
}

.bean2 {
  width: 2rem;
  height: 2rem;
  background-image: url("http://png-1.findicons.com/files/icons/901/pillow/512/red_pillow.png");
  background-size: cover;
  position: absolute;
  -webkit-animation: beanTwo 6s infinite;
  animation: beanTwo 6s infinite;
  left: 20rem;
  bottom: 4rem;
}

.bean3 {
  width: 2rem;
  height: 2rem;
  background-image: url("http://png-3.findicons.com/files/icons/901/pillow/512/pillow.png");
  background-size: cover;
  position: absolute;
  -webkit-animation: beanThree 7s infinite;
  animation: beanThree 7s infinite;
  animation-delay: 2s;
  right: 20;
  bottom: 4rem;
}

.bean4 {
  width: 2rem;
  height: 2rem;
  background-image: url("http://png-1.findicons.com/files/icons/901/pillow/512/red_pillow.png");
  background-size: cover;
  position: absolute;
  -webkit-animation: beanFour 6s infinite;
  animation: beanFour 6s infinite;
  animation-delay: 1s;
  left: 20rem;
  bottom: 4rem;
}

@-webkit-keyframes beanOne{
  0%   {right: 17rem; bottom: 15rem;  transform: rotate(0deg)}
  40%  {right: 70rem; bottom: 30rem;  transform: rotate(360deg)}
  100% {right: 100rem; bottom: 4rem;  transform: rotate(888deg)}
}

@-webkit-keyframes beanTwo{
 0%   {left: 17rem; bottom: 15rem;  transform: rotate(0deg)}
 40%  {left: 70rem; bottom: 35rem;  transform: rotate(560deg)}
 100% {left: 100rem; bottom: 4rem;  transform: rotate(960deg)}
}

@-webkit-keyframes beanThree{
  0%   {right: 17rem; bottom: 15rem;  transform: rotate(0deg)}
  40%  {right: 70rem; bottom: 30rem;}
  100% {right: 100rem; bottom: 4rem;  transform: rotate(360deg)}
}

@-webkit-keyframes beanFour{
  0%   {left: 17rem; bottom: 15rem;  transform: rotate(0deg)}
  40%  {left: 70rem; bottom: 25rem;}
  100% {left: 100rem; bottom: 4rem;  transform: rotate(360deg)}
}

.board1 img{
  width: 10rem;
  height: 10rem;
  bottom: 4rem;
  left: 20rem;
  position: absolute;
  transform: scaleX(-1);
  filter: FlipH;
}

.board2 img{
  width: 10rem;
  height: 10rem;
  bottom: 4rem;
  right: 20rem;
  position: absolute;
}

.person1 img{
  width: 15rem;
  height: 15rem;
  bottom: 8rem;
  left: 8rem;
  position: absolute;
}

.person2 img{
  width: 15rem;
  height: 15rem;
  bottom: 8rem;
  right: 8rem;
  position: absolute;
  transform: scaleX(-1);
  filter: FlipH;
}

.mainTitle {
  text-align: center;
  font-size: 5rem;
  margin: 1rem;
  font-family: 'Sigmar One', cursive;
  color: white;
}

.homeIn {
  width: 100%;
  margin: 1rem;
}

.loginBox {
  width: 100%;
  border: 2px solid white;
  padding: 3rem;
  border-radius: 4px;
  background-color: #2A3A89;
  opacity: .9;
}

.loginBoxWrap {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 5rem;
  left: 10rem;
  right: 10rem;
  bottom: 5rem;
}

.splashPic {
  width: 100%;
  height: 100%;
  background-image: url("http://pentagist.com/wp-content/uploads/2014/08/Football-Stadium-Real-Madrid-New-Hd-Quality-With-2840626.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: -10;
}

.gradient {
width: 100%;
height: 100%;
background-image: url("http://static1.squarespace.com/static/50e63d92e4b05dd23a150903/t/53501f45e4b0a74166d77a35/1397759813979/");
background-size: cover;
position: absolute;
z-index: -5;
opacity: .9;
}

.gradient2 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -5;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.6+0,0.6+100;White+to+Transparent */
  background: -moz-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0.6))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#99ffffff',GradientType=0 ); /* IE6-9 */
}

.dropdown-menu {
  background-color: #364C98;
  color: white;
}

.white {
  color: white;
}

.white:hover {
  color: #B92227;
}

/* Leagues */

.dropHead {
  width: 33.3333%;
  text-align: left;
  color: white;
  margin: .5rem 1rem;
  font-size: 3rem;
}

.dropHead:hover {
  color: #B92227;
}

.headTitle {
  text-align: center;
  margin: .5rem 0rem;
  width: 33.3333%;
  color: #B92227;
  font-size: 3rem;
}

.headTitle img {
  height: 8rem;
  width: 16rem;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.learnHead {
  width: 33.3333%;
  text-align: right;
  color: white;
  margin: .5rem 1rem;
  font-size: 3rem;
}

.leaguesContainer {
  width: 90%;
  height: 45rem;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  background-color: white;
  opacity: .95;
  border-radius: 5px;
}

.leaguesHeader {
  width: 100%;
  height: 4rem;
  background-color: black;
  display: flex;
}

.leagueIn{
  margin: .7rem;
  width: 80%;
  margin-left: 2rem;
}

.listImg {
  height: 100%;
  width: 100%;
  left: 0;
  opacity: .8;
  margin: 0;
  padding: 0;
}

.search {
  width: 40%;
  z-index: 1;
  margin: 0rem 1rem;
}

.league2 {
  color: black;
  text-align: center;
  padding: 2rem;
  font-family: 'Sigmar One', cursive;
  text-decoration: underline;
}

.leaguesList {
  margin: 2rem;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #364C98;
}

.middle {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.leagueLogo {
  margin: 1rem;
}

.formStuff {
  width: 50%;
}

.leagueTitle {
  text-align: left;
  margin: 2rem 0rem;
  color: white;
  font-family: 'Sigmar One', cursive;
}

.leagueCreate {
  color: white;
  font-size: 2rem;
}

.topRight {
  text-align: right;
}

.delete {
  color: maroon;
  font-size: 2rem;
}

.delete:hover {
  color: red;
}

.back {
  color: white;
  font-size: 3rem;
  margin: 0rem 2rem;
}

.forward {
  color: white;
  font-size: 3rem;
  position: absolute;
  right: 1rem;
}

.howToWrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.howToBox {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  opacity: .7;
}
