<div class="gradient2"></div>

<header>
  <div class="dropHead">
    <div class="btn-group" dropdown is-open="status.isopen">
      <div class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        <i class="fa fa-bars dropHead"></i>
      </div>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#/leagues"><span class="white">Leagues</span></a></li>
            <li><a href="#/events"><span class="white">Events</span></a></li>
       </ul>
    </div>
</div>
    <div class="headTitle">
      <img src="http://www.cornholeplayers.com/images/navhome/logo-cntr.jpg" alt="" />
    </div>
        <div class="learnHead">
            <a href="#/stepone"><i class="fa fa-question white"></i></a>
       </div>
</header>
<div class="leaguesHeader">
  <a class="back" href="#/leagues/"><i class="fa fa-arrow-left"></i></a>
</div>


<leagues-dir l="league" action="deleteLeague(league.id)" data-id="{{league.id}}"></leagues-dir>
