<div class="leaguesHeader">
<form class="search">
    <input class="leagueIn" type="text" ng-model="search.name" value="" placeholder="Search Title">
</form>
</div>

<h2>Leagues List View</h2>

<div ng-controller="CollapseDemoCtrl">
	<button class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">Create A League</button>
	<hr>
	<div collapse="!isCollapsed">
		<div class="well well-lg">
      <form name="leaguesForm">
      <input type="text" name="name" value="" ng-model="newLeague.name" placeholder="League Name" required/>
      <button class="btn btn-warning" type="button" name="leaguesForm" ng-click="createLeague(newLeague)">Create League</button>
      </form>
		</div>
	</div>
</div>

<leagues-dir ng-repeat="league in leagues | filter: search" ng-model="search"  l="league" action="deleteLeague(league.id)" action2="getOneLeague(league.id)"  data-id="{{league.id}}"></leagues-dir>
