<div class="leaguesHeader">
<form class="search">
    <input class="leagueIn" type="text" ng-model="search.title" value="" placeholder="Search Title">
    <input class="leagueIn" type="text" ng-model="search.location" value="" placeholder="Search Location">
</form>
</div>

<h2>Leagues List View</h2>

<div ng-controller="CollapseDemoCtrl">
	<button class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">Create A League</button>
	<hr>
	<div collapse="!isCollapsed">
		<div class="well well-lg">
      <form name="leaguesForm">
      <input type="text" name="title" value="" ng-model="newLeague.title" placeholder="League Name" required/>
      <input type="text" name="location" value="" ng-model="newLeague.location" placeholder="Location" required/>
      <input type="text" name="logo" value="" ng-model="newLeague.logo" placeholder="League Logo" required/>
      <button class="btn btn-warning" type="button" name="leaguesForm" ng-click="createLeague(newLeague)">Create League</button>
      </form>
		</div>
	</div>
</div>

<leagues-dir ng-repeat="league in leagues | filter: search" ng-model="search"  l="league" action="deleteLeague(league._id)" action2="getOneLeague(league._id)"  data-id="{{league._id}}"></leagues-dir>
